/*________________________________________*/
/*about*/
.container {
  height: 575px;
  display: block;
  background: url('../images/lodo-banner-profile-crop-slim-20opaq2.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tagline {
  z-index: 1;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  display: flex;
  font-size: 60px;
  color: white;
  line-height: 1.25;
}

/*________________________________________*/
/*Skills*/

.skills {
  background-color: #1A1A1A;
  color: #eeeeee;
  line-height: 1.5;
  text-align: center;
  padding: 60px;
  margin: auto;
}

.skills h2 {
  font-family: 'Oswald', sans-serif;
  color: #783568;
  font-size: 36px;
}

.skills h3 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.75em;
  margin: auto;
  padding: 30px 30px 20px 30px;
  line-height: 2.5;
  color: yellow;
}

h3.languages {
  padding: 30px 30px 0 30px;
}

.skills p {
  margin: auto;
  padding: 0px 30px 30px 30px;
}

img.cogwheel, img.bee-hive {
  padding: 0px 30px 30px 30px;
  margin: auto;
  display: block;
}

img.skill-sword {
  padding: 30px;
  margin: auto;
  display: block;
  width: 160px;
  height: 30px;
}

img.cogwheel {
  width: 110px;
  height: 110px;
}

img.bee-hive {
  width: 120px;
  height: 140px;
}

/*____________________*/
/*Intention*/

.intention {
  color: #eeeeee;
  line-height: 1.5;
  text-align: center;
  padding: 60px;
  margin: auto;
  background-color: #0188cb;
}

.intention h2 {
  font-family: 'Oswald', sans-serif;
  color: #1A1A1A;
  font-size: 36px;
}

.intention h3 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.75em;
  margin: auto;
  padding: 30px;
  line-height: 2.5;
  color: yellow;
}

.intention p {
  margin: auto;
  padding: 0px 30px 30px 30px;
  max-width: 770px;
  display: block;
}

img.ladder {
  width: 100px;
  height: 120px;
  padding: 30px auto;
  margin: 10px auto 0 auto;
  left: 0;
  position: center;
  display: block;
}

.focus h3 {
  font-family: 'Dosis', sans-serif;
  margin: auto;
  padding: 30px;
  line-height: 2.5;
  color: yellow;
}

img.eye {
  width: 120px;
  height: 80px;
  padding:  0px 30px 30px 30px;
  margin: auto;
  left: 0
  position: center;
  display: block;
}

/*___________________________________*/
/*mini-bio*/

.mini-bio {
  font-family: 'Open Sans', sans-serif;
  color: #636363;
  line-height: 1.5;
  text-align: center;
  font-size: 18px;
  padding: 30px;
  margin: 0 0 30px 0;
  background-color: #d0d0d0;
}

.hyperlink {
  color: navy;
  text-decoration: none;
}

.mini-bio h2 {
  font-family: 'Oswald', sans-serif;
  color: #0188cb;
  font-size: 36px;
  margin-bottom: 30px;
}

.mini-bio p {
  padding: 30px 0;
}

/*___________________________________*/
/*strengths*/

.strengths {
  background-color: white;
  margin: auto;
  display: block;
  max-width: 1050px;
  max-height: auto;
  padding: 30px 0;
}

.strengths article {
  display: flex;
  justify-content: center;
  align-content: center;
  vertical-align: top;
}

.strengths h3 {
  width: 175px;
  height: 60px;
  bottom: 40px;
  padding: 50px 0;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-size: 30px;
  vertical-align: middle;;
}

.strengths img {
  padding: 20px 40px 20px 20px;
  width: 110px;
  height: 120px;
}

.strengths p {
  color: #636363;
  padding: 30px 30px 20px 0;
  max-width: 600px;
  height: 120px;
  text-align: left;
  line-height: 1.2;
  display: inline-block;
}

#restorative {
  margin-bottom: 30px;
}

/*______________________*/

@media (max-width: 1030px) {
  .container {
    max-width: 1030px;
  }

  #tagline {
    font-size: 50px;
  }

  .mini-bio {
    font-size: 18px;
    padding: 60px;
    margin: 0px 0 30px 0;
  }
}
/*__________________*/


@media (max-width: 870px) {
  .container {
    max-width: 870px;
  }

  #tagline {
    font-size: 40px;
  }

  .mini-bio {
    padding: 60px;
    margin: 0px 0 30px 0;
  }
/*_________________*/

  .strengths h3 {
    padding: 60px 0 0 20px;
  }

  .strengths p {
    display: block;
    max-height: 150px;
    padding: 0 20px 40px 20px;
    margin: 20px auto;
    justify-content: center;
  }
}

@media (max-width: 770px) {
  .container {
    width: 770px;
  }

  .strengths article {
    display: block;
    margin: auto;
    justify-content: center;
    align-items: flex;
    position: center;
  }

  .strengths img {
    display: block;
    margin: auto;
    padding: 0px 0 20px 0;
    margin: auto;
  }

  .strengths h3 {
    padding: 0px 0 0 20px;
    display: block;
    margin: auto;
  }

  .strengths p {
    display: block;
    max-height: 150px;
    padding: 0 0px 0px 0;
    margin: 20px 20px;
    display: block;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 570px) {
  .mini-bio {
    font-size: 14px;
  }

  #tagline {
    font-size: 30px;
  }

  .strengths h3 {
    margin: 15px auto;
  }

  .container {
    max-width: 550px;
  }

  .strengths p {
    font-size: 12px;
    margin: auto 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
  }

  p.short-term, p.long-term, p.focus {
    font-size: 12px;
  }

  section.intention, section.skills {
    padding: 15px;
  }

  p {
    font-size: 12px;
  }
}
