/*________________________________________*/
/*about*/
.container {
  height: 550px;
  display: block;
  background: url('../images/kw-lotus-lodo.jpg') no-repeat center center fixed;
  background-size: cover;
  /*background: black;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

#tagline {
  /*position: relative;*/
  z-index: 1;
  /*background: black;*/
  font-family: 'Oswald', sans-serif;
  text-align: center;
  top: -150px;
  width: 100%;
  font-size: 60px;
  color: white;
  line-height: 1.25;
  /*display: block;*/
  /*margin: 0 auto 100px auto;*/
}

/*#hero {
  background: black;
}*/

/*#profile {
  display: block;
  margin: 0px 30px 0px 0px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px #888888;
  max-width: 400px;
  max-height: 550px;
  shadow: 20px black;
}*/

.intro {
  font-family: 'Open Sans', sans-serif;
  color: #636363;
  line-height: 1.5;
  text-align: center;
  font-size: 1.5em;
  padding: 50px;
  margin: 0 0 30px 0;
  background-color: #d0d0d0;
}

.hyperlink {
  color: navy;
  text-decoration: none;
}

/*___________________________________*/
/*strengths*/

.strengths {
  background-color: white;
  margin: auto;
  display: block;
  max-width: 1050px;
  max-height: 1050px;
}

.strengths article {
  display: inline-block;
  vertical-align: top;
}

.strengths h3 {
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-size: 30px;
  vertical-align: top;
}

.top-left-achiever h3 {
  margin: 30px 30px 0 10px;
}

.top-right-command h3 {
  margin: 30px 0 0 30px;
}

.bottom-left-ideation h3 {
  margin: 10px 30px 0 10px;
}

.bottom-right-restorative h3 {
  margin: 10px 0 0 30px;
}

.strengths img {
  width: 220px;
  height: 240px;
}

.top-left-achiever img {
  padding: 30px 0px 30px 10px;
}

.top-right-command img {
  padding: 30px 0px 30px 30px;
}

.bottom-left-ideation img {
  padding: 30px 0px 30px 10px;
}

.bottom-right-restorative img {
  padding: 30px 0px 30px 30px;
}

.strengths p {
  color: #636363;
  width: 220px;
  height: 300px;
  text-align: left;
  line-height: 1.2;
  display: inline-block;
}

.top-left-achiever p {
  margin: 30px 0 20px 0;
  padding: 0px 30px 20px 30px;
}

.top-right-command p {
  margin: 30px 0 20px 0;
  padding: 0 0 20px 30px;
}

.bottom-left-ideation p {
  margin: 30px 0px 20px 0px;
  padding: 0px 30px 20px 30px;
}

.bottom-right-restorative p {
  margin: 60px 0px 20px 0px;
  padding: 0px 0 20px 30px;
}

/*_______________________________________*/
/*Intention*/

.intention {
  color: #BACFD6;
  line-height: 1.5;
  text-align: center;
  /*font-size: 1.75em;*/
  padding: 60px;
  margin: auto;
  background-color: black;
}

.intention h2 {
  font-family: 'Oswald', sans-serif;
  color: red;
  font-size: 36px;
}

.intention h3 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.75em;
  margin: auto;
  padding: 30px;
  line-height: 2.5;
  color: yellow;
}

.intention p {
  margin: auto;
  padding: 0px 30px 30px 30px;
  max-width: 750px;
  display: block;

}

img.ladder {
  width: 150px;
  height: 200px;
  padding: 30px;
  margin: auto;
  left: 0
  position: center;
  display: block;
}

.focus h3 {
  font-family: 'Dosis', sans-serif;
  margin: auto;
  padding: 30px;
  line-height: 2.5;
  color: yellow;
}

img.eye {
  width: 200px;
  height: 100px;
  padding:  15px 30px 30px 30px;
  margin: auto;
  left: 0
  position: center;
  display: block;
}

/*________________________________________*/
/*Skills*/

.skills {
  background-color: #990000;
  color: #BACFD6;
  line-height: 1.5;
  text-align: center;
  padding: 60px;
  margin: auto;
}

.skills h2 {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 36px;
}

.skills h3 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.75em;
  margin: auto;
  padding: 30px;
  line-height: 2.5;
  color: yellow;
}

.skills p {
  margin: auto;
  padding: 0px 30px 30px 30px;
}

img.keyboard, img.cogwheel, img.bee-hive {
  padding: 0 30px;
  margin: auto;
  display: block;
}

img.keyboard {
  width: 325px;
  height: 170px;
}

img.cogwheel {
  width: 175px;
  height: 175px;
}

img.bee-hive {
  width: 200px;
  height: 250px;
}

/*______________________*/

@media (max-width: 1030px) {
  .container {
    /*max-height: 300px;*/
    max-width: 1030px;
  }

  #tagline {
    font-size: 40px;
    /*max-width: 220px;*/
    /*max-height: 330px;*/
  }

  .intro {
    font-size: 22px;
    padding: 60px;
    margin: 0px 0 30px 0;
  }



  /*.strengths {
    display: block;
    max-width: 1030px;
    max-height: 1500px;
    position: center;
    margin: auto;
  }*/

  .strengths article {
    display: inline-block;
    /*margin: auto;*/
    justify-content: center;
  }

  /*.strenths-row1 {
    justify-content: center;
    display: block;
    margin: auto;
  }

  .strenths-row2 {
    justify-content: center;
    display: block;
    margin: auto;
  }*/

  .strengths img {
    display: block;
    width: 165px;
    height: 180px;
    margin: auto;
  }

  .strengths p {
    display: block;
    text-align: center;
    width: 280px;
    height: 230px;
    padding: 20px;
    margin: 20px;
  }
}

@media (max-width: 730px) {
  .container {
    /*max-height: 300px;*/
    width: 730px;
  }

  #tagline {
    font-size: 30px;
    /*max-width: 220px;*/
    /*max-height: 330px;*/
  }

  .intro {
    font-size: 22px;
    padding: 60px;
    margin: 0px 0 30px 0;
  }

/*_________________*/
  .strengths article {
    display: block;
    margin: auto;
    justify-content: center;
    align-items: flex;
    position: center;
  }

  .strengths h3 {
    margin: auto;
    display: block;
    text-align: center;
    padding: 20px 0 0 0;
  }

  .top-left-achiever h3 {
    margin: 0;
    display: block;
  }

  .top-right-command h3 {
    margin: 0;
    display: block;
  }

  .bottom-left-ideation h3 {
    margin: 0;
    display: block;
  }

  .bottom-right-restorative h3 {
    margin: 0;
    display: block;
  }

  .strengths img {
    display: block;
    width: 165px;
    height: 180px;
    margin: auto;
    padding: 30px 0 20px 0;
    margin: auto;
  }

  .strengths p {
    display: block;
    width: 380px;
    height: 150px;
    padding: 0 0 20px 0;
    margin: auto;
    justify-content: center;
  }
}

@media (max-width: 320px) {

}
