body {
  font-family: 'Open Sans', sans-serif;
}

/*Header*/
.icon-earth:before {
  content: "\e9ca";
  font-size: 1.5em;
  margin: 14px 0 14px 14px;
  display: inline-block;
}

.icon-earth:hover {
  color: #ED0000;
  font-size: 1.1em;
  transition: all 1s ease-in-out;
}

header {
  font-family: 'Dosis', sans-serif;
  padding: 20px;
  background-color: #012d42;
  height: 75px;
}

header a {
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-size: 175%;
  padding: 1.5px;
}

h1 {
  display: inline-block;
  text-indent: -9999px;
  width: 10px;
  margin: 10px;
  padding: 21.5px;
}

nav {
  float: right;
}

li {
  display: inline-block;
  padding: 21.5px;
}

.projects:hover {
  color: #00B0EB;
}

.about:hover {
  color: #36F5AF;
}

.cv:hover {
  color: #FF534A;
}

.photos:hover {
  color: #faff00;
}

.blog:hover {
  color: #FFA60D;
}

.connect:hover {
  color: #ad00ff;
}

/*____________________________________________________________________________*/
/*kinan-whyte*/

#container {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  top: -50px;
  width: 100%;
  font-size: 250%;
  color: #636363;
  line-height: 1.25;
  display: block;
  margin: 60px 0;
}

#hero {
  background: white;
}

#profile {
  display: block;
  background: white;
  margin: auto;
  position: center;
  border-radius: 50%;
  width: 22%;
  height: 22%;
  z-index: 99;
  box-shadow: 0px 0px 20px black;
}

article {
  display: inline-block;
}

.intro {
  font-family: 'Dosis', sans-serif;
  color: #636363;
  line-height: 1.5;
  text-align: center;
  font-size: 1.75em;
  padding: 60px;
  margin: 60px 0 0 0;
  background-color: #54F7AE;
}

.hyperlink {
  color: navy;
}

/*___________________________________*/
/*strengths*/

section article {
  margin: auto;
  text-align: center;
  padding: 30px 5px;
  background-color: white;
}

/*.strengths {
  margin: auto;
  position: center;
  display: block;
}*/

.top-left-achiever {
  text-align: left;
}

.top-right-command {
  text-align: right;
}

.bottom-left-ideation {
  text-align: left;
}

.bottom-right-restorative {
  text-align: right;
}

.strengths h3 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 250%;
  vertical-align: top;
}

.top-left-achiever h3 {
  margin: 30px 30px 0px 30px;
}

.top-right-command h3 {
  margin: 30px 30px 0px 30px;
}

.bottom-left-ideation h3 {
  margin: 10px 30px 0px 30px;
}

.bottom-right-restorative h3 {
  margin: 10px 30px 0px 30px;
}

.strengths img {
  width: 220px;
  height: 240px;
  left: 0px;
}

.top-left-achiever img {
  padding: 30px 0px 30px 30px;
}

.top-right-command img {
  padding: 30px 0px 30px 30px;
}

.bottom-left-ideation img {
  padding: 30px 0px 30px 30px;
}

.bottom-right-restorative img {
  padding: 30px 0px 30px 30px;
}

.strengths p {
  color: #636363;
  width: 220px;
  height: 300px;
  text-align: left;
  line-height: 1.2;
  display: inline-block;
}

.top-left-achiever p {
  margin: 30px 0 0 0;
  padding: 0px 30px;
}

.top-right-command p {
  margin: 30px 0 0 0;
  padding: 0px 30px;
}

.bottom-left-ideation p {
  margin: 30px 0px 50px 0px;
  padding: 0px 30px 50px 30px;
}

.bottom-right-restorative p {
  margin: 60px 0px 50px 0px;
  padding: 0px 30px 50px 30px;
}

/*____________________________________________________________________________*/
/*Intention*/

.intention {
  color: #BACFD6;
  line-height: 1.5;
  text-align: center;
  /*font-size: 1.75em;*/
  padding: 60px;
  margin: auto;
  background-color: black;
}

.intention h2 {
  font-family: 'Oswald', sans-serif;
  color: red;
  font-size: 250%;
}

.intention h3 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.75em;
  margin: auto;
  padding: 30px;
  line-height: 2.5;
  color: white;
}

.intention p {
  margin: auto;
  padding: 0px 30px 30px 30px;
  width: 750px;
}

img.reaching {
  width: 150px;
  height: 200px;
  padding: 45px 30px 15px 30px;
  margin: auto;
  left: 0
  position: center;
  display: block;
}

img.ladder {
  width: 150px;
  height: 200px;
  padding: 30px;
  margin: auto;
  left: 0
  position: center;
  display: block;
}

.focus h3 {
  font-family: 'Dosis', sans-serif;
  margin: auto;
  padding: 30px;
  line-height: 2.5;
  color: white;
}

img.eye {
  width: 200px;
  height: 100px;
  padding:  15px 30px 30px 30px;
  margin: auto;
  left: 0
  position: center;
  display: block;
}

/*____________________________________________________________________________*/
/*Skills*/

.skills {
  background-color: #990000;
  color: #BACFD6;
  line-height: 1.5;
  text-align: center;
  padding: 60px;
  margin: auto;
}

.skills h2 {
  font-family: 'Oswald', sans-serif;
  color: yellow;
  font-size: 250%;
}

.skills h3 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.75em;
  margin: auto;
  padding: 30px;
  line-height: 2.5;
  color: white;
}

.skills p {
  margin: auto;
  padding: 0px 30px 30px 30px;
}

img.keyboard {
  width: 325px;
  height: 170px;
  padding:  15px 30px 30px 30px;
  margin: auto;
  left: 0
  position: center;
  display: block;
}

img.cogwheel {
  width: 175px;
  height: 175px;
  padding:  15px 30px 30px 30px;
  margin: auto;
  left: 0
  position: center;
  display: block;
}

img.bee-hive {
  width: 200px;
  height: 250px;
  padding:  30px 30px 20px 30px;
  margin: auto;
  left: 0
  position: center;
  display: block;
}


/*____________________________________________________________________________*/
/*footer*/

/*Icomoon standard css setup*/
@font-face {
    font-family: 'icomoon';
    src: url(../fonts/icomoon.eot);
    src: url(../fonts/icomoon.eot?#iefix) format('embedded-opentype'),
    url(../fonts/icomoon.woff) format('woff'),
    url(../fonts/icomoon.ttf) format('truetype'),
    url(../fonts/icomoon.svg#icomoon) format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: 'icomoon';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

/*Footer*/
.icon-github:before {
  content: "\eab0";
}

.icon-linkedin2:before {
  content: "\eaca";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #000000;
  height: 75px;
}

footer ul a {
  color: white;
  font-size: 2em;
  left: 0;
  position: relative;
  align-content: center;
  width: 100%;
}

footer a {
  text-decoration: none;
  padding: 25%;
}

/*hover for social media icons:*/
footer li:hover .icon-github {
  color: purple;
}

footer li:hover .icon-linkedin2 {
  color: #FFA60D;
}

footer li:hover .icon-twitter {
  color: #00B0EB;
}

footer li:hover .icon-facebook {
  color: #FF534A;
}

footer li:hover .icon-instagram {
  color: #36F5AF;
}

.copyright {
  color: #9C9C9C;
  text-align: left;
  position: relative;
  margin: -20px 30px;
}

.email {
  color: #9C9C9C;
  text-align: right;
  position: relative;
  margin: -20px 30px;
}
