#hero {
  background: url('../images/diagonal-mountain-fog.jpeg') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  padding: 200px 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#kw-logo {
  border-radius: 50%;
  margin: auto;
  max-width: 400px;
  max-height: 400px;
  -webkit-transition: width 3s, height 3s, background-color 3s, -webkit-transform 3s;
}

#kw-logo:hover {
  background: #54F7AE;;
  z-index: 1;
  border-radius: 50%;
  transform: rotate(180deg) rotateY(180deg);
  transition-timing-function: ease;
  -ms-filter: "FlipV" "FlipH";
}

@media (max-width: 1030px) {
  #kw-logo {
    max-width: 400px;
    max-height: 400px;
  }
}
