#kw-icon {
  background: url("../images/kw-logo-gradient.png") no-repeat;
  background-size: 60px 60px;
  height: 60px;
  width: 60px;
  text-indent: -9999px;
  display: inline-block;
  margin: 7px 0 0 8px;
  border: none;
}

#kw-icon:hover {
  background: url("../images/kw-logo-white.png") no-repeat;
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: none;
  -webkit-transform: rotate(360deg);
  transition: all 3s ease-in-out;
  transition-timing-function: ease;
  transform: rotate(360deg) rotateY(0deg);
}

header {
  font-family: 'Dosis', sans-serif;
  padding: 19px;
  background-color: #1A1A1A;
  height: 75px;
}

header a {
  text-decoration: none;
  list-style-type: none;
  color: #eeeeee;
  padding: 1.5px;
  font-size: 165%;
}

h1 {
  display: inline-block;
  text-indent: -9999px;
  width: 10px;
  margin: 10px;
  padding: 21.5px;
}

nav {
  float: right;
}

li {
  display: inline-block;
  padding: 20px;
}

.projects:hover {
  color: #faff00;
}

.about:hover {
  color: #ad00ff;
}

.resume:hover {
  color: #f7443a;
}

.photos:hover {
  color: #00B0EB;
}

.blog:hover {
  color: #02B875;
}

.connect:hover {
  color: #36F5AF;
}

@media (max-width: 1030px) {
  #kw-icon {
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
  }

  header {
    padding: 10px;
    height: 65px;
  }

  header a {
    font-size: 155%;
    padding: 1px;
  }

  li {
    display: inline-block;
    padding: 17px;
  }
}

/*@media (max-width: 730px) {

}*/
