body {
  font-family: 'Pompiere', cursive;
}

/*Header*/
.icon-home2:before {
  content: "\e901";
  font-size: 1.5em;
  padding: 0px 0px 10px 0px;
}

.icon-home2:hover {
  color: #ED0000;
  font-size: 1.1em;
  transition: all 1s ease-in-out;
  border-radius: 100%;
}

header {
  font-family: 'Berkshire Swash', cursive;
  padding: 20px;
  background-color: black;
  /*opacity: 0.5;*/
  height: 75px;
}

header a {
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-size: 175%;
  /*margin: 30px;*/
  padding: 1.5px;
}

h1 {
  display: inline-block;
  /*background: url("../fonts/icomoon.svg") no-repeat;*/
  text-indent: -9999px;
  width: 10px;
  margin: 10px;
  padding: 21.5px;
}

nav {
  float: right;
}

li {
  display: inline-block;
  padding: 21.5px;
}

.kinan-whyte:hover {
  color: #36F5AF;
}
.cv:hover {
  color: #FF534A;
}
.portfolio:hover {
  color: #00B0EB;
}
.blog:hover {
  color: #FFA60D;
}
.connect:hover {
  color: purple;
}

/*header li{
  display: inline-block;
  padding: 21.5px;
}*/

/*background: url('../images/park.jpg') no-repeat;
background-size: cover;
text-align: center;
padding: 50px 0;
margin-bottom: 50px;*/

#hero {
  background: url('../images/vintage-boards.jpg') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  padding: 250px 0;
  margin-bottom: 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#container {
  font-family: 'Exo', sans-serif;
  left: 0;
  position: relative;
  text-align: center;
  top: -100px;
  width: 100%;
  font-size: 450%;
  color: yellow;
  text-shadow: 3px 3px 5px #000000;
}

#tagline {
  font-family: 'Berkshire Swash', cursive;
  left: 0;
  position: relative;
  text-align: center;
  top: -90px;
  width: 100%;
  font-size: 250%;
  color: black;
  text-shadow: 1px 1px 1px #DEDEDE;
}
/*____________________________________________________________________________*/
/*portfolio*/

.projects {
  color: #BACFD6;
  line-height: 1.5;
  text-align: center;
  font-size: 1.75em;
  padding: 60px;
  margin: auto;
  background-color: #1A1A1A;
}

.projects h2 {
  font-family: 'Exo', sans-serif;
  color: yellow;
  font-size: 2em;
}

.projects h3 {
  font-family: 'Berkshire Swash', cursive;
  margin: auto;
  padding: 30px;
  line-height: 2.5;
  color: red;
}

.projects img {
  width: 300px;
  height: 300px;
  padding: 0 30px 30px 30px;
  left: 0px;
}

.projects p {
  margin: auto;
  padding: 0px 30px 30px 30px;
  width: 750px;
}

/*____________________________________________________________________________*/
/*footer*/

/*Icomoon standard css setup*/
@font-face {
    font-family: 'icomoon';
    src: url(../fonts/icomoon.eot);
    src: url(../fonts/icomoon.eot?#iefix) format('embedded-opentype'),
    url(../fonts/icomoon.woff) format('woff'),
    url(../fonts/icomoon.ttf) format('truetype'),
    url(../fonts/icomoon.svg#icomoon) format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: 'icomoon';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

/*Footer*/
.icon-github:before {
  content: "\eab0";
}

.icon-linkedin2:before {
  content: "\eaca";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #000000;
  height: 75px;
}

footer ul a {
  color: white;
  font-size: 2em;
  left: 0;
  position: relative;
  align-content: center;
  width: 100%;
}

footer a {
  text-decoration: none;
  padding: 25%;
}

/*hover for social media icons:*/
footer li:hover .icon-github {
  color: purple;
}

footer li:hover .icon-linkedin2 {
  color: #FFA60D;
}

footer li:hover .icon-twitter {
  color: #00B0EB;
}

footer li:hover .icon-facebook {
  color: #FF534A;
}

footer li:hover .icon-instagram {
  color: #36F5AF;
}

.copyright {
  color: #9C9C9C;
  text-align: left;
  position: relative;
  margin: -20px 30px;
}

.email {
  color: #9C9C9C;
  text-align: right;
  position: relative;
  margin: -20px 30px;
}
