.projects-list {
  color: #BACFD6;
  line-height: 1.5;
  text-align: center;
  padding: 60px;
  margin: auto;
  background-color: #1A1A1A;
  display: block;
  align-items: center;
}

.projects-list h2 {
  font-family: 'Oswald', sans-serif;
  color: yellow;
  font-size: 250%;
}

.projects-list h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.75em;
  margin: 30px auto 0 auto;
  padding: 30px;
  line-height: 2.5;
  color: red;
}

.projects-list img {
  border-radius: 20%;
  max-width: 500px;
  max-height: 350px;
  padding: 0 30px 30px 30px;
}

.projects-list p {
  margin: auto;
  padding: 0px 30px 30px 30px;
  max-width: 750px;
}

.links h5 a {
  text-decoration: none;
  color: white;
}

.links {
  margin: 0 0 30px 0;
}

.links h5 a:hover {
  text-decoration: none;
  color: #54F7AE;;
}
