body {
  font-family: 'Lato', sans-serif;
}

#profile {
  display: block;
  margin: 60px auto 10px auto;
  border-radius: 50%;
  box-shadow: 5px 5px 5px #888888;
  max-width: 400px;
  max-height: 400px;
  shadow: 20px black;
}

/*Header*/
.icon-earth:before {
  content: "\e9ca";
  font-size: 1.5em;
  margin: 14px 0 14px 14px;
  display: inline-block;
}

.icon-earth:hover {
  color: #ED0000;
  font-size: 1.1em;
  transition: all 1s ease-in-out;
}

header {
  font-family: 'Dosis', sans-serif;
  padding: 20px;
  background-color: #012d42;
  height: 75px;
}

header a {
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-size: 175%;
  padding: 1.5px;
}

h1 {
  display: inline-block;
  text-indent: -9999px;
  width: 10px;
  margin: 10px;
  padding: 21.5px;
}

nav {
  float: right;
}

li {
  display: inline-block;
  padding: 21.5px;
}

.projects:hover {
  color: #00B0EB;
}

.about:hover {
  color: #36F5AF;
}

.cv:hover {
  color: #FF534A;
}

.photos:hover {
  color: #faff00;
}

.blog:hover {
  color: #FFA60D;
}

.connect:hover {
  color: #ad00ff;
}
/*_____________________________________________________*/
/*cv*/

#resume {
  width: 100%;
  height: 100%;
  padding: 30;
  left: 0px;
}

#resume img {
  margin: auto;
  display: block;
  position: center;
  width: 100%;
  height: 100%;
}

.laurel img {
  width: 200px;
  height: 200px;
  padding: 0px 0px 60px 0px;
  margin: auto;
  left: 0
  position: center;
  display: block;
}
